body {
	min-width:240px;
	overflow-x:hidden;
	text-align: center;
	background-color: #41A85F;
	font-family: Lucida Sans Unicode;
	font-size:	11px;
	color: #EFEFEF;
}

#error {
  color: #B8312F;
  height: 11px;
}

#result {
	height: 11px;
}

#result {
	font-size: 16px;
}
